* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #101111;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.intro {
    width: 800px;
    text-align: right;
    margin-top: 50%;
}

.title {
    font-size: 5rem;
    color: #fff;
    font-family: "New Amsterdam", sans-serif;
    font-weight: lighter;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin-top: 1px;
    list-style: none;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ccc;
    height: 40px;
}

footer {
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    bottom: 0;
}

/* Efeitos e animações */

h1:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

ul#menu li a:hover {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #f39c12;
    transition: all 0.08s ease;
    /* border-bottom: solid #f39c12; */
}

ul#menu li a.active {
    color: #f39c12;
    border-bottom: solid #f39c12;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-item {
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    color: #000; /* Cor do texto */
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

/* Criação do sublinhado animado */
.menu-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #f39c12; /* Cor do sublinhado */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

/* Ativa o sublinhado quando o item está em foco ou é o hover */
.menu-item:hover::after, .menu-item:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Estilo do conteúdo quando visível */
#content.visible {
    opacity: 1;
}